<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.android.tacu">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />

    <uses-permission
        android:name="android.permission.SYSTEM_ALERT_WINDOW"
        tools:node="remove" />

    <!-- System权限 AndroidStudio会飘红 不用管 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.READ_LOGS" />

    <application
        android:name="com.android.tacu.base.MyApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:allowBackup,label">
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.tacu.file_provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <!-- 配置bugly的APP ID -->
        <meta-data
            android:name="BUGLY_APPID"
            android:value="6f53f71f62" />

        <!-- 加速启动页启动速度 Application的耗时操作都放到这里 -->
        <service android:name="com.android.tacu.service.AppIntentService" />

        <activity
            android:name="com.android.tacu.module.splash.SplashActivity"
            android:theme="@style/AppLauncherTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.android.tacu.module.main.view.MainActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.android.tacu.module.login.view.LoginActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name="com.android.tacu.module.login.view.FindPwdActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name="com.android.tacu.module.my.view.LanguageActivity" />
        <activity
            android:name="com.android.tacu.module.login.view.RegisterActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name="com.android.tacu.module.login.view.CityListActivity" />
        <activity
            android:name="com.android.tacu.module.webview.view.WebviewActivity"
            android:configChanges="orientation|screenSize|keyboardHidden" />
        <activity android:name="com.android.tacu.module.market.view.SelfSelectionEditActivity" />
        <activity android:name="com.android.tacu.module.market.view.SelectedCoinsActivity" />
        <activity android:name="com.android.tacu.module.market.view.NoticeActivity" />
        <activity android:name="com.android.tacu.module.market.view.SearchHistoryActivity" />
        <activity
            android:name="com.android.tacu.module.market.view.MarketDetailsActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity android:name="com.android.tacu.module.auth.view.AuthActivity" />
        <activity android:name="com.android.tacu.module.my.view.ContactUsActivity" />
        <activity android:name="com.android.tacu.module.my.view.InvitedinfoActivity" />
        <activity
            android:name="com.android.tacu.module.my.view.GoogleAuthActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name="com.android.tacu.module.my.view.SecurityCenterActivity" />
        <activity android:name="com.android.tacu.module.auth.view.RealNameActivity" />
        <activity
            android:name="com.android.tacu.module.auth.view.RealNameTwoActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.android.tacu.module.my.view.ChangePwdActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.android.tacu.module.my.view.BindModeActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.android.tacu.module.my.view.BindEmailActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.android.tacu.module.my.view.BindPhoneActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.android.tacu.module.my.view.TradePwdActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.android.tacu.module.my.view.TradeActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.android.tacu.module.assets.view.AssetsActivity"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name="com.android.tacu.module.lock.GestureActivity"
            android:launchMode="singleTask" />
        <activity android:name="com.android.tacu.module.lock.GestureOnActivity" />
        <activity android:name="com.android.tacu.module.lock.GestureOffActivity" />
        <activity
            android:name="com.android.tacu.module.lock.FingerprintActivity"
            android:launchMode="singleTask" />
        <activity android:name="com.android.tacu.module.my.view.GoogleHintActivity" />
        <activity android:name="com.android.tacu.module.my.view.InvitedRecordActivity" />
        <activity android:name="com.android.tacu.module.transaction.view.TradeRecordManageActivity" />
        <activity android:name="com.android.tacu.module.transaction.view.DealDetailsActivity" />
        <activity android:name="com.android.tacu.module.my.view.InvitePosterActivity" />
        <activity android:name="com.android.tacu.module.my.view.ConvertActivity" />
        <activity android:name="com.android.tacu.module.assets.view.MoneyFlowActivity" />
        <activity android:name="com.android.tacu.module.main.view.ZXingActivity" />
        <activity android:name="com.android.tacu.module.main.view.ZXingCommonActivity" />
        <activity android:name="com.android.tacu.module.main.view.ZXingLoginActivity" />
        <activity android:name="com.android.tacu.module.assets.view.RecordActivity" />
        <activity android:name="com.android.tacu.module.auctionplus.view.AuctionActivity" />
        <activity android:name="com.android.tacu.module.auctionplus.view.AuctionPlusDetailActivity" />
        <activity android:name="com.android.tacu.module.auctionplus.view.AuctionPlusOfferActivity" />
        <activity android:name="com.android.tacu.module.auctionplus.view.AuctionWinRecordActivity" />
        <activity android:name="com.android.tacu.module.ZoomImageViewActivity" />
        <activity android:name="com.android.tacu.module.otc.view.OtcMarketListActivity" />
        <activity android:name="com.android.tacu.module.otc.view.OtcOrderListActivity" />
        <activity android:name="com.android.tacu.module.otc.view.OtcOrderDetailActivity" />
        <activity android:name="com.android.tacu.module.otc.view.OtcOrderCreateActivity" />
        <activity android:name="com.android.tacu.module.otc.view.OtcBuyOrSellActivity" />
        <activity android:name="com.android.tacu.module.otc.view.OtcOrderConfirmActivity" />
        <activity android:name="com.android.tacu.module.otc.view.OtcManageActivity" />
        <activity android:name="com.android.tacu.module.assets.view.AssetsCenterActivity" />
        <activity android:name="com.android.tacu.module.assets.view.BindingPayInfoActivity" />
        <activity android:name="com.android.tacu.module.my.view.EditPersonalDataActivity" />
        <activity android:name="com.android.tacu.module.auth.view.AuthMerchantActivity" />
    </application>
</manifest>